.carrito {
    display: flex;
    position: relative;
}

.conteo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60%;
    top: 0%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF6347;
    color: #FFF;
}

.container-compra {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.listado {
    width: 80%;
    /* Ajusta el ancho del contenedor de la tabla */
    margin-bottom: 20px;
    /* Espacio debajo del contenedor de la tabla */
}

table {
    border-spacing: 0;
    /* Elimina el espacio entre celdas */
    width: 100%;
    border-collapse: separate;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);


}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;

}

th {
    background-color: #FF6347;
    color: white;
}

table {
    border-top-right-radius: 50px;
    /* Agrega un borde derecho a la última celda de cada fila */
}

table tr th:last-child {
    border-top-right-radius: 50px;
    /* Agrega un borde derecho a la última celda de cada fila */
}


.tr:hover {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


table td i.fas.fa-trash {
    cursor: pointer;
    /* Cambia el cursor a una mano para indicar que es clickeable */
    color: #E74C3C;
    /* Color rojo para el ícono de basura, indicando acción de eliminar */
    font-size: 1.2em;
    /* Tamaño ligeramente más grande para el ícono */
}

table td i.fas.fa-trash:hover {
    color: #C0392B;
    /* Color más oscuro al pasar el mouse por encima para efecto de hover */
}

.total {
    display: flex;
    flex-direction: column;
    /* Organiza los elementos en columna */
    align-items: center;
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos para botones o elementos adicionales en .pagar */


.merca-btn {
    margin-top: 20px;
}

.mercadopago-button {
    background-color: #FF6347;
}

.mercadopago-button:hover {
    background-color: #C0392B;
}

/* Estilos generales para los botones de incremento y decremento */
.incremento,
.decremento {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 5px 8px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.incremento:hover,
.decremento:hover {
    background-color: #367c39;
    /* Color de fondo más oscuro al pasar el mouse */
}

/* Estilo para deshabilitar botones (opcional) */
.incremento:disabled,
.decremento:disabled {
    background-color: #cccccc;
    /* Color de fondo gris para botón deshabilitado */
    cursor: not-allowed;
    /* Cambia el cursor para indicar que el botón está deshabilitado */
}