body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor_img {
    max-width: 20%;
}

.img-perfil {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.contenedor_info {
    margin: 20px;
}

.perfil-title{
    font-size: 50px;
}

span{
    font-weight: bold;
}

.logout {
    background-color: #fff; /* Un tono más suave de rojo */
    color: #C0392B;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #C0392B;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: #C0392B; /* Un tono más oscuro al pasar el ratón */
    color: #fff;
}
