body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main{
    background-color: #fff;    
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor_img {
    max-width: 20%;
}

.img-perfil {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.contenedor_info {
    margin: 20px;
}

.perfil-title{
    font-size: 50px;
}

span{
    font-weight: bold;
}

.logout {
    background-color: #fff; /* Un tono más suave de rojo */
    color: #C0392B;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #C0392B;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: #C0392B; /* Un tono más oscuro al pasar el ratón */
    color: #fff;
}

/*cards*/

.card1,
.card2,
.card3 {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 300px;
    margin: 20px;
    cursor: pointer;
    padding: 20px;
  }


  .card1 {
    background-color: #FF6347;
    color: #fff;
  }

  .card2 {
    background-color: #3498db;
    color: #fff;
  }

  .card3 {
    background-color: #2ecc71;
    color: #fff;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .a-links {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Agregar sombra al texto */
  }
  
  .a-links:hover {
    background-color: #2980b9;
    transform: scale(1.1); /* Hacer que el enlace se agrande al pasar el mouse */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Cambiar la sombra al pasar el mouse */
  }
  
  
/*Modal*/
#myModal {
    display: none;
    position: fixed;
    color: #333;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#myModal.show {
    opacity: 1;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 400px;
    border-radius: 10px;
    overflow: scroll;
}
/* Estilos para la barra de desplazamiento en WebKit */
.modal-content::-webkit-scrollbar {
    width: 20px; 
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: #888; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

td {
    color: #333;
}

th {
    background-color: #FF6347;
    color: #fff;
}

table tr th:last-child {
    border-top-right-radius: 0;
}

.estado {
    display: inline-block;
    padding: 5px 10px;
    background-color: #c6c30d;
    color: #fff;
    border-radius: 5px;
}

.fa-file-pdf {
    color: #C0392B;
    font-size: 40px;
}

.fa-file-pdf:hover {
    cursor: pointer;
}
