body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main{
    background-color: #fff;    
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor_img {
    max-width: 20%;
}

.img-perfil {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.contenedor_info {
    margin: 20px;
}

.perfil-title{
    font-size: 50px;
}

span{
    font-weight: bold;
}

.logout {
    background-color: #fff; /* Un tono más suave de rojo */
    color: #C0392B;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #C0392B;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: #C0392B; /* Un tono más oscuro al pasar el ratón */
    color: #fff;
}

/*cards*/

.card1,
.card2,
.card3 {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 300px;
    margin: 20px;
    cursor: pointer;
    padding: 20px;
  }


  .card1 {
    background-color: #FF6347;
    color: #fff;
  }

  .card2 {
    background-color: #3498db;
    color: #fff;
  }

  .card3 {
    background-color: #2ecc71;
    color: #fff;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .a-links {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Agregar sombra al texto */
  } 
  
.a-links:hover {
    transform: scale(1.1); /* Hacer que el enlace se agrande al pasar el mouse */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Cambiar la sombra al pasar el mouse */
  }
/*Modal*/
#myModal {
    display: none;
    position: fixed;
    color: #333;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#myModal.show {
    opacity: 1;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: auto;
    border-radius: 10px;

}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos generales para la tabla */
#miTabla {
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

/* Encabezados de la tabla */
#miTabla thead th {
    background-color: #FF6347;
    color: white;
    padding: 10px;
}

/* Filas y celdas */
#miTabla tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Hover en las filas */
#miTabla tbody tr:hover {
    background-color: #f2f2f2;
}

/* Estilos para la búsqueda y paginación */
.dataTables_filter, .dataTables_paginate {
    text-align: right;
}

.dataTables_filter input {
    margin-left: 0.5em;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.paginate_button {
    padding: 5px 10px;
    background-color: #FF6347;
    color: white !important;
    border-radius: 5px;
    margin: 0 3px;
    cursor: pointer;
}

.paginate_button:hover {
    background-color: #45a049;
}

.paginate_button.current, .paginate_button.current:hover {
    background-color: #333;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    margin: 20px 0;
}

table tr th:last-child {
    border-top-right-radius: 0;
}

.estado {
    display: inline-block;
    padding: 5px 10px;
    background-color: #c6c30d;
    color: #fff;
    border-radius: 5px;
}

.fa-file-pdf {
    color: #C0392B;
    font-size: 40px;
}

.fa-file-pdf:hover {
    cursor: pointer;
}



.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    background-color: #FF6347 !important;
    border-color: #FF6347 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #FF6347 !important;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    background-color: #eee !important;
    border-color: #ddd !important;
    cursor: default !important;
}


/* Estilo para el campo de texto */
.dataTables_filter input {
    border: 2px solid #ccc !important; /* Borde del campo de texto */
    border-radius: 4px !important; /* Bordes redondeados para el campo de texto */
    box-sizing: border-box !important; /* Asegura que el padding no aumente el ancho */
}

/* Estilo para el campo de texto al enfocarse (opcional) */
.dataTables_filter input:focus {
    border-color: #FF6347 !important; /* Cambia el color del borde al enfocar */
    border-width: 2px !important; /* Hace el borde más grueso */
    outline: none !important; /* Elimina el outline predeterminado */
    box-shadow: 0 0 8px 0 rgba(255, 99, 71, 0.6) !important; /* Añade un efecto de iluminación */
}





